:root 
{
    --brand-color: #0e4c92;
    --brand-color-dark: #0a3c75;
    --brand-color-light: #1462bc;
}


/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

#top-bar
{
    background-color: var(--brand-color);
    color: white;
}

#title {
    font-size: 2.5rem;
}

.bd-navbar {
    background-color: var(--brand-color);
}

input#bio {
    height: auto;
    width: 50%;
}

/*footer {
    background-color: var(--brand-color);
    color: lightgray;
}

footer, footer a {
    color: lightgray;
}

footer a:hover {
    color: gray;
}*/

.btn-primary {
    background-color: var(--brand-color);
    border-color: var(--brand-color);
}

.btn-primary:hover {
    background-color: var(--brand-color-light);
}

.btn-primary:focus {
    box-shadow: 0 0 0 0.25rem var(--brand-color-light);
}

.btn-primary:active {
    background-color: var(--brand-color-dark);
}