{% extends "layout.html" %}

{% block scripts %}
<script>
    function confirmMemberDelete() {
        if (confirm('Are you sure you want to delete this board member?')) {
            // The user clicked "OK", so return true to indicate that the form should be submitted
            return true;
        } else {
            // The user clicked "Cancel", so return false to prevent the form from being submitted
            return false;
        }
    }

</script>
{% endblock %}

{% block title%}
Board
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h1 class="text-left fw-semibold">Group board</h1>
    <div class="table-responsive">
        <table class="table table-striped" aria-label="member table">
            <thead>
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Position</th>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for member in board %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.position }}</td>
                    <td>
                        <form action="/edit_board" method="post">
                            <input name='member_id' value="{{ member.member_id }}" hidden>
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/delete_board" method="post">
                            <input name='member_id' value="{{ member.member_id }}" hidden>
                            <button class="btn btn-danger" type="submit" onclick="return confirmMemberDelete()">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <a href="/add_board"><button class="btn btn-primary" type="submit">Add Board Member</button></a> 
</div>



{% endblock %}