{% extends "layout.html" %}

{% block scripts %}
<script>
    function confirmMemberDelete() {
        if (confirm('Are you sure you want to delete this purchase?')) {
            // The user clicked "OK", so return true to indicate that the form should be submitted
            return true;
        } else {
            // The user clicked "Cancel", so return false to prevent the form from being submitted
            return false;
        }
    }

</script>
{% endblock %}


{% block title%}
Purchases
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h1 class="text-left fw-semibold">Earnings</h1>
    <div class="table-responsive">
        <table class="table table-striped" aria-label="member table">
            <thead>
                <tr>
                    <th scope="col">Date</th>
                    <th scope="col">Total</th>
                    <th scope="col">Source</th>
                    <th scope="col">Registered by</th>
                    <th scope="col">Description</th>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                {% for earning in earnings %}
                <tr>
                    <td>{{ earning.date }}</td>
                    <td>{{ earning.total }}</td>
                    <td>{{ earning.source }}</td>
                    <td>{{ earning.registree }}</td>
                    <td>{{ earning.notes }}</td>
                    <td>
                        <form action="/edit_earning" method="post">
                            <input name='earning_id' value="{{ earning.id }}" hidden>
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/delete_earning" method="post">
                            <input name='earning_id' value="{{ earning.id}}" hidden>
                            <button class="btn btn-danger" type="submit" onclick="return confirmMemberDelete()">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <a href="/add_earning"><button class="btn btn-primary">Add Earning</button></a>
</div>


{% endblock %}