{% extends "layout.html" %}

{% block title%}
Members
{% endblock %}

{% block main %}
<div class="container mt-3">
    <h1 class="text-left fw-semibold">Group members</h1>
    <div class="table-responsive">
        <table class="table table-striped" aria-label="member table">
            <thead>
                <tr>
                    <th scope="col" class="col-4">Name</th>
                    <th scope="col">College</th>
                    <th scope="col">Year</th>
                    <th scope="col">Active</th>
                    <th scope="col" class="col-1"></th>
                    <th scope="col" class="col-1"></th>
                </tr>
            </thead>
            <tbody>
                {% for member in members %}
                <tr>
                    <td>{{ member.name }}</td>
                    <td>{{ member.college }}</td>
                    <td>{{ member.year }}</td>
                    <td>{{ member.active }}</td>
                    <td>
                        <form action="/edit_member" method="post">
                            <input name='member_id' value="{{ member.id }}" hidden>
                            <button class="btn btn-primary" type="submit">Edit</button>
                        </form>
                    </td>
                    <td>
                        <form action="/delete_member" method="post">
                            <input name='member_id' value="{{ member.id }}" hidden>
                            <button class="btn btn-danger" type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <form action="/add_member" method="get">
        <button class="btn btn-primary" type="submit">Add Member</button>
    </form>
</div>



{% endblock %}