{% extends "layout_intro.html" %}

{% block title %}
    Register
{% endblock %}

{% block placeholder %}
<h1 class="mb-3 fw-semibold" id="title">Register</h1>
<p>Choose your name from our members list. If you are not a member, join us before registering.
</p>
<div class="text-center mt-5">
    <form action="/register" method="post" class="mb-2">
        <div class="mb-3">
            <input autocomplete="off" autofocus class="form-control mx-auto w-auto" id="username" name="username" placeholder="Username" type="text">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="email" name="email" placeholder="Email" type="email">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="password" name="password" placeholder="Password" type="password">
        </div>
        <div class="mb-3">
            <input class="form-control mx-auto w-auto" id="confirmation" name="confirmation" placeholder="Confirm password" type="password">
        </div>
        <div class="mb-3">
            <select name="member" id="member" class="form-control mx-auto w-auto form-select">
                <option disabled selected>BF member</option>
                {% for member in members %}
                <option value="{{ member.id }}">{{ member.name }}</option>
                {% endfor %}
            </select>
        </div>
        <button class="btn btn-primary" type="submit">Register</button>
    </form>
    <a href="/login" class="link-secondary">Already have an account</a>
</div>

{% endblock %}